.vs/tasks.vs.json
Receipt/obj/Release/AspnetCompileMerge/Source/ApplicationInsights.config
Receipt/obj/Release/AspnetCompileMerge/Source/Content/Site.css
Receipt/obj/Release/AspnetCompileMerge/Source/Content/bootstrap.css
Receipt/obj/Release/AspnetCompileMerge/Source/Content/bootstrap.min.css
Receipt/obj/Release/AspnetCompileMerge/Source/Content/img/98749082-ad2b-45fd-81fa-04193611857f.jpeg
Receipt/obj/Release/AspnetCompileMerge/Source/Content/img/image6.jpg
Receipt/obj/Release/AspnetCompileMerge/Source/Content/img/images11.jpg
Receipt/obj/Release/AspnetCompileMerge/Source/Content/img/images3.png
Receipt/obj/Release/AspnetCompileMerge/Source/Content/img/images44.jpg
Receipt/obj/Release/AspnetCompileMerge/Source/Content/img/images6.jpg
Receipt/obj/Release/AspnetCompileMerge/Source/Content/img/images7.jpg
Receipt/obj/Release/AspnetCompileMerge/Source/Content/img/images8.jpg
Receipt/obj/Release/AspnetCompileMerge/Source/Content/img/images9.png
Receipt/obj/Release/AspnetCompileMerge/Source/Content/img/inde3x.png
Receipt/obj/Release/AspnetCompileMerge/Source/Content/img/index.jpg
Receipt/obj/Release/AspnetCompileMerge/Source/Content/img/index.png
Receipt/obj/Release/AspnetCompileMerge/Source/Content/img/index33.jpg
Receipt/obj/Release/AspnetCompileMerge/Source/Content/img/index4.jpg
Receipt/obj/Release/AspnetCompileMerge/Source/Content/img/index5.jpg
Receipt/obj/Release/AspnetCompileMerge/Source/Global.asax
Receipt/obj/Release/AspnetCompileMerge/Source/Scripts/bootstrap.js
Receipt/obj/Release/AspnetCompileMerge/Source/Scripts/bootstrap.min.js
Receipt/obj/Release/AspnetCompileMerge/Source/Scripts/jquery-1.10.2.js
Receipt/obj/Release/AspnetCompileMerge/Source/Scripts/jquery-1.10.2.min.js
Receipt/obj/Release/AspnetCompileMerge/Source/Scripts/jquery-1.10.2.min.map
Receipt/obj/Release/AspnetCompileMerge/Source/Scripts/jquery.validate.js
Receipt/obj/Release/AspnetCompileMerge/Source/Scripts/jquery.validate.min.js
Receipt/obj/Release/AspnetCompileMerge/Source/Scripts/jquery.validate.unobtrusive.js
Receipt/obj/Release/AspnetCompileMerge/Source/Scripts/jquery.validate.unobtrusive.min.js
Receipt/obj/Release/AspnetCompileMerge/Source/Scripts/modernizr-2.6.2.js
Receipt/obj/Release/AspnetCompileMerge/Source/Scripts/respond.js
Receipt/obj/Release/AspnetCompileMerge/Source/Scripts/respond.min.js
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Account/ConfirmEmail.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Account/ExternalLoginConfirmation.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Account/ExternalLoginFailure.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Account/ForgotPassword.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Account/ForgotPasswordConfirmation.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Account/Login.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Account/Register.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Account/ResetPassword.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Account/ResetPasswordConfirmation.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Account/SendCode.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Account/VerifyCode.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Account/_ExternalLoginsListPartial.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Companies/Edit.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Companies/Index.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Companies/list.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Home/About.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Home/Contact.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Home/Index.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Manage/AddPhoneNumber.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Manage/ChangePassword.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Manage/Index.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Manage/ManageLogins.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Manage/SetPassword.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Manage/VerifyPhoneNumber.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Shared/Error.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Shared/Lockout.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Shared/_Layout.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Shared/_LoginPartial.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Views/Web.config
Receipt/obj/Release/AspnetCompileMerge/Source/Views/_ViewStart.cshtml
Receipt/obj/Release/AspnetCompileMerge/Source/Web.config
Receipt/obj/Release/AspnetCompileMerge/Source/bin/ApplicationInsights.config
Receipt/obj/Release/AspnetCompileMerge/Source/bin/roslyn/Microsoft.CSharp.Core.targets
Receipt/obj/Release/AspnetCompileMerge/Source/bin/roslyn/Microsoft.VisualBasic.Core.targets
Receipt/obj/Release/AspnetCompileMerge/Source/bin/roslyn/VBCSCompiler.exe.config
Receipt/obj/Release/AspnetCompileMerge/Source/bin/roslyn/csc.exe.config
Receipt/obj/Release/AspnetCompileMerge/Source/bin/roslyn/csc.rsp
Receipt/obj/Release/AspnetCompileMerge/Source/bin/roslyn/csi.rsp
Receipt/obj/Release/AspnetCompileMerge/Source/bin/roslyn/vbc.exe.config
Receipt/obj/Release/AspnetCompileMerge/Source/bin/roslyn/vbc.rsp
Receipt/obj/Release/AspnetCompileMerge/Source/favicon.ico
Receipt/obj/Release/AspnetCompileMerge/Source/fonts/glyphicons-halflings-regular.eot
Receipt/obj/Release/AspnetCompileMerge/Source/fonts/glyphicons-halflings-regular.svg
Receipt/obj/Release/AspnetCompileMerge/Source/fonts/glyphicons-halflings-regular.ttf
Receipt/obj/Release/AspnetCompileMerge/Source/fonts/glyphicons-halflings-regular.woff
Receipt/obj/Release/AspnetCompileMerge/Source/packages.config
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/ApplicationInsights.config
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Content/Site.css
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Content/bootstrap.css
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Content/bootstrap.min.css
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Content/img/98749082-ad2b-45fd-81fa-04193611857f.jpeg
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Content/img/image6.jpg
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Content/img/images11.jpg
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Content/img/images3.png
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Content/img/images44.jpg
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Content/img/images6.jpg
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Content/img/images7.jpg
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Content/img/images8.jpg
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Content/img/images9.png
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Content/img/inde3x.png
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Content/img/index.jpg
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Content/img/index.png
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Content/img/index33.jpg
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Content/img/index4.jpg
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Content/img/index5.jpg
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/PrecompiledApp.config
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Scripts/bootstrap.js
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Scripts/bootstrap.min.js
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Scripts/jquery-1.10.2.js
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Scripts/jquery-1.10.2.min.js
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Scripts/jquery-1.10.2.min.map
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Scripts/jquery.validate.js
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Scripts/jquery.validate.min.js
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Scripts/jquery.validate.unobtrusive.js
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Scripts/jquery.validate.unobtrusive.min.js
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Scripts/modernizr-2.6.2.js
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Scripts/respond.js
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Scripts/respond.min.js
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Account/ConfirmEmail.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Account/ExternalLoginConfirmation.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Account/ExternalLoginFailure.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Account/ForgotPassword.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Account/ForgotPasswordConfirmation.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Account/Login.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Account/Register.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Account/ResetPassword.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Account/ResetPasswordConfirmation.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Account/SendCode.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Account/VerifyCode.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Account/_ExternalLoginsListPartial.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Companies/Edit.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Companies/Index.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Companies/list.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Home/About.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Home/Contact.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Home/Index.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Manage/AddPhoneNumber.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Manage/ChangePassword.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Manage/Index.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Manage/ManageLogins.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Manage/SetPassword.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Manage/VerifyPhoneNumber.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Shared/Error.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Shared/Lockout.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Shared/_Layout.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Shared/_LoginPartial.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/Web.config
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Views/_ViewStart.cshtml
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/Web.config
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/bin/App_global.asax.compiled
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/bin/ApplicationInsights.config
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/bin/roslyn/Microsoft.CSharp.Core.targets
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/bin/roslyn/Microsoft.VisualBasic.Core.targets
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/bin/roslyn/VBCSCompiler.exe.config
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/bin/roslyn/csc.exe.config
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/bin/roslyn/csc.rsp
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/bin/roslyn/csi.rsp
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/bin/roslyn/vbc.exe.config
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/bin/roslyn/vbc.rsp
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/favicon.ico
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/fonts/glyphicons-halflings-regular.eot
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/fonts/glyphicons-halflings-regular.svg
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/fonts/glyphicons-halflings-regular.ttf
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/fonts/glyphicons-halflings-regular.woff
Receipt/obj/Release/AspnetCompileMerge/TempBuildDir/packages.config
Receipt/obj/Release/CSAutoParameterize.parameters.xml
Receipt/obj/Release/CSAutoParameterize/original/Views/Web.config
Receipt/obj/Release/CSAutoParameterize/original/Web.config
Receipt/obj/Release/CSAutoParameterize/transformed/Views/Web.config
Receipt/obj/Release/CSAutoParameterize/transformed/Web.config
Receipt/obj/Release/InsertEFCodeFirstDeploy/original/Web.config
Receipt/obj/Release/InsertEFCodeFirstDeploy/transformed/Web.config
Receipt/obj/Release/Package/PackageTmp/ApplicationInsights.config
Receipt/obj/Release/Package/PackageTmp/Content/Site.css
Receipt/obj/Release/Package/PackageTmp/Content/bootstrap.css
Receipt/obj/Release/Package/PackageTmp/Content/bootstrap.min.css
Receipt/obj/Release/Package/PackageTmp/Content/img/98749082-ad2b-45fd-81fa-04193611857f.jpeg
Receipt/obj/Release/Package/PackageTmp/Content/img/image6.jpg
Receipt/obj/Release/Package/PackageTmp/Content/img/images11.jpg
Receipt/obj/Release/Package/PackageTmp/Content/img/images3.png
Receipt/obj/Release/Package/PackageTmp/Content/img/images44.jpg
Receipt/obj/Release/Package/PackageTmp/Content/img/images6.jpg
Receipt/obj/Release/Package/PackageTmp/Content/img/images7.jpg
Receipt/obj/Release/Package/PackageTmp/Content/img/images8.jpg
Receipt/obj/Release/Package/PackageTmp/Content/img/images9.png
Receipt/obj/Release/Package/PackageTmp/Content/img/inde3x.png
Receipt/obj/Release/Package/PackageTmp/Content/img/index.jpg
Receipt/obj/Release/Package/PackageTmp/Content/img/index.png
Receipt/obj/Release/Package/PackageTmp/Content/img/index33.jpg
Receipt/obj/Release/Package/PackageTmp/Content/img/index4.jpg
Receipt/obj/Release/Package/PackageTmp/Content/img/index5.jpg
Receipt/obj/Release/Package/PackageTmp/PrecompiledApp.config
Receipt/obj/Release/Package/PackageTmp/Scripts/bootstrap.js
Receipt/obj/Release/Package/PackageTmp/Scripts/bootstrap.min.js
Receipt/obj/Release/Package/PackageTmp/Scripts/jquery-1.10.2.js
Receipt/obj/Release/Package/PackageTmp/Scripts/jquery-1.10.2.min.js
Receipt/obj/Release/Package/PackageTmp/Scripts/jquery-1.10.2.min.map
Receipt/obj/Release/Package/PackageTmp/Scripts/jquery.validate.js
Receipt/obj/Release/Package/PackageTmp/Scripts/jquery.validate.min.js
Receipt/obj/Release/Package/PackageTmp/Scripts/jquery.validate.unobtrusive.js
Receipt/obj/Release/Package/PackageTmp/Scripts/jquery.validate.unobtrusive.min.js
Receipt/obj/Release/Package/PackageTmp/Scripts/modernizr-2.6.2.js
Receipt/obj/Release/Package/PackageTmp/Scripts/respond.js
Receipt/obj/Release/Package/PackageTmp/Scripts/respond.min.js
Receipt/obj/Release/Package/PackageTmp/Views/Account/ConfirmEmail.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Account/ExternalLoginConfirmation.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Account/ExternalLoginFailure.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Account/ForgotPassword.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Account/ForgotPasswordConfirmation.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Account/Login.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Account/Register.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Account/ResetPassword.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Account/ResetPasswordConfirmation.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Account/SendCode.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Account/VerifyCode.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Account/_ExternalLoginsListPartial.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Companies/Edit.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Companies/Index.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Companies/list.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Home/About.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Home/Contact.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Home/Index.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Manage/AddPhoneNumber.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Manage/ChangePassword.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Manage/Index.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Manage/ManageLogins.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Manage/SetPassword.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Manage/VerifyPhoneNumber.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Shared/Error.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Shared/Lockout.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Shared/_Layout.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Shared/_LoginPartial.cshtml
Receipt/obj/Release/Package/PackageTmp/Views/Web.config
Receipt/obj/Release/Package/PackageTmp/Views/_ViewStart.cshtml
Receipt/obj/Release/Package/PackageTmp/Web.config
Receipt/obj/Release/Package/PackageTmp/bin/App_global.asax.compiled
Receipt/obj/Release/Package/PackageTmp/bin/ApplicationInsights.config
Receipt/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CSharp.Core.targets
Receipt/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.VisualBasic.Core.targets
Receipt/obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe.config
Receipt/obj/Release/Package/PackageTmp/bin/roslyn/csc.exe.config
Receipt/obj/Release/Package/PackageTmp/bin/roslyn/csc.rsp
Receipt/obj/Release/Package/PackageTmp/bin/roslyn/csi.rsp
Receipt/obj/Release/Package/PackageTmp/bin/roslyn/vbc.exe.config
Receipt/obj/Release/Package/PackageTmp/bin/roslyn/vbc.rsp
Receipt/obj/Release/Package/PackageTmp/favicon.ico
Receipt/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.eot
Receipt/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.svg
Receipt/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.ttf
Receipt/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.woff
Receipt/obj/Release/Package/PackageTmp/packages.config
Receipt/obj/Release/Package/Receipt.SourceManifest.xml
Receipt/obj/Release/Receipt.Migrations.Description.resources
Receipt/obj/Release/Receipt.Migrations.Initial.resources
Receipt/obj/Release/Receipt.csproj.FileListAbsolute.txt
Receipt/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Receipt/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Receipt/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Receipt/obj/Release/TransformWebConfig/assist/Web.config
Receipt/obj/Release/TransformWebConfig/original/Web.config
Receipt/obj/Release/TransformWebConfig/transformed/Web.config
Receipt/obj/Release/_WPPLastBuildInfo.txt
Receipt/bin/
packages/
