@{
    ViewBag.Title = "Начална страница";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-8">
            <h2>Страницата е в процес на разработка</h2>
            <p> <img src="~/Content/img/images8.jpg" />  </p>
            
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-8">
            <h2>Система за касови бележки</h2>
        </div>
    </div>
}