@model List<Receipt.Models.CompanyViewModel>
@{
    ViewBag.Title = "Бележки";
}

<div class="container">
    <div class="row" style="padding-top:10px;">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Касова бележка</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label"> Фирма </label>
                        <div>
                            <div class="input-group-btn select" id="select1">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="selected">Избери фирма</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu option" role="menu">
                                    @foreach (var c in Model)
                                    {
                                        <li id="@c.CompanyId"><a href="javascript:void(0)">@c.Name</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label"> Дата </label>
                            <div>
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Преглед</div>
                <div class="panel-body">
                    <div style="background-color: antiquewhite; padding:0; margin:0; width: 20em">
                        <div style="text-align: center">Папур груп ООД</div>
                        <div style="text-align: center">ЕИК: 563456456</div>
                        <div style="text-align: center">гр. Горна Оряховица</div>
                        <div style="text-align: center">ул. Бузлоджа #2 ET.3</div>
                        <div style="width:100%">
                            <div style="width:15%; text-align:left; display: inline-block;">
                                01
                            </div>
                            <div style="width:70%; text-align:center; display: inline-block;">
                                ОПЕРАТОР
                            </div>
                            <div style="width:15%; display: inline-block;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script type="text/javascript">

    $(function () {
        $('#datetimepicker1').datetimepicker({
            locale: 'bg'
        });
    });
    $('body').on('click', '.option li', function () {
        var i = $(this).parents('.select').attr('id');
        var v = $(this).children().text();
        var o = $(this).attr('id');
        $('#' + i + ' .selected').attr('id', o);
        $('#' + i + ' .selected').text(v);
    });
</script>

<style type="text/css">
    .select button {
        width: 100%;
        text-align: left;
    }

    .select .caret {
        position: absolute;
        right: 10px;
        margin-top: 10px;
    }

    .select:last-child > .btn {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .selected {
        padding-right: 10px;
    }

    .option {
        width: 100%;
    }
</style>
