
@using Microsoft.AspNet.Identity

@model List<Receipt.Models.ApplicationUser>

@{
    ViewBag.Title = "";
}

<div class="container">

    <table class="table table-hover table-striped">
        <tbody>
            @foreach (var c in Model)
            {

                <tr>
                    <td>

                        <span class='glyphicon glyphicon-check'></span>

                    </td>
                    <td><span class="badge">0</span></td>
                    <td>@c.UserName </td>
                    <td>@c.FirstName @c.LastName</td>

                    <td align="right">
                        <a class="btn btn-default btn-sm" onclick="return confirm('Внимание')" href="/Manage/deleteUser/?id=@c.UserName">
                            <span class="glyphicon glyphicon-trash">
                            </span>
                        </a>
                        <a class="btn btn-default btn-sm" href="/Manage/editUser/?id=@c.UserName">
                            <span class="glyphicon glyphicon-edit">
                            </span>Редактирай
                        </a>
                    </td>
                </tr>

            }
        </tbody>

    </table>


</div>


<style type="text/css">
    .hide {
        display: none;
    }

    .glyphicon {
        margin-right: 5px;
    }
</style>
